$openSans: 'OpenSans', sans-serif;

$accentBlue: #235eb0;
$accentGreen: #66b300;
$white: #fff;
$black: #121212;
$blue-0: #0d1218;
$blue-1: #171e27;

$sectionPadding: 30px;
$gutter: 30px;

$fz16: 1rem;

$fwLight: 300;
$fwRegular: 400;
$fwBold: 700;
